<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/sindikasidb</property>
		<!-- <property name="hibernate.connection.url">jdbc:postgresql://185.201.8.100:5432/sindikasidb</property> -->
		
		<property name="hibernate.connection.username">postgres</property>
		<property name="connection.password">postgres</property>

		<property name="hibernate.jdbc.batch_size">20</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>

		<!-- Use the C3P0 connection pool. -->
		<property name="c3p0.min_size">50</property>
		<property name="c3p0.max_size">300</property>
		<property name="c3p0.timeout">1800</property>

		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable second-level cache. -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="cache.use_query_cache">false</property>
		<!-- <property name="cache.use_minimal_puts">false</property> <property 
			name="max_fetch_depth">3</property> -->

		<property name="show_sql">true</property>
		<property name="use_sql_comments">false</property>
		<property name="format_sql">false</property>
		<property name="hbm2ddl.auto">update</property>

		<mapping class="com.sdd.sindikasi.domain.AuditLog" />

		<mapping class="com.sdd.sindikasi.domain.Msysparam" />
		<mapping class="com.sdd.sindikasi.domain.Muser" />
		<mapping class="com.sdd.sindikasi.domain.Musergroup" />
		<mapping class="com.sdd.sindikasi.domain.Musergroupmenu" />
		<mapping class="com.sdd.sindikasi.domain.Mmenu" />

		<mapping class="com.sdd.sindikasi.domain.Mdeclinecode" />
		<mapping class="com.sdd.sindikasi.domain.Mcurrency" />
		<mapping class="com.sdd.sindikasi.domain.Mdebitur" />
		<mapping class="com.sdd.sindikasi.domain.Mrm" />
		<mapping class="com.sdd.sindikasi.domain.Mrmgroup" />
		<mapping class="com.sdd.sindikasi.domain.Msector" />
		<mapping class="com.sdd.sindikasi.domain.Munit" />
		<mapping class="com.sdd.sindikasi.domain.Magenttype" />

		<mapping class="com.sdd.sindikasi.domain.Tmemo" />
		<mapping class="com.sdd.sindikasi.domain.Tpipeline" />
		<mapping class="com.sdd.sindikasi.domain.Tpipelinedoc" />
		<mapping class="com.sdd.sindikasi.domain.Tpipelinepart" />
		<mapping class="com.sdd.sindikasi.domain.Tpipelinepartagent" />
		<mapping class="com.sdd.sindikasi.domain.Tporto" />
		<mapping class="com.sdd.sindikasi.domain.Tportoinvoice" />
		<mapping class="com.sdd.sindikasi.domain.Tportopart" />
		<mapping class="com.sdd.sindikasi.domain.Tportopartagent" />
		<mapping class="com.sdd.sindikasi.domain.Tportopartdebt" />
		<mapping class="com.sdd.sindikasi.domain.Tportopayment" />
		<mapping class="com.sdd.sindikasi.domain.Tportopayschedule" />
		<mapping class="com.sdd.sindikasi.domain.Ttargetrm" />
		<mapping class="com.sdd.sindikasi.domain.Ttargetrmgroup" />

		<mapping class="com.sdd.sindikasi.domain.Tcounterengine" />
		<mapping class="com.sdd.sindikasi.domain.Tscheduler" />

		<mapping class="com.sdd.sindikasi.domain.Vsummary" />
		
		<mapping class="com.sdd.sindikasi.domain.Vpipelineperiod" />
		<mapping class="com.sdd.sindikasi.domain.Vpipelinesector" />	
		<mapping class="com.sdd.sindikasi.domain.Vpipelineunit" />		

	</session-factory>
</hibernate-configuration>